body {
    font-family: 'Roboto', sans-serif;
    font-color :#EDB2B8;
    font-size: 14px;
    overflow-x: hidden !important
}



nav {
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 97;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

nav .navbar-header .navbar-brand {
    height: 100px;
    padding: 30px 15px;
    font-size: 1.5em;
    font-weight: 900;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

nav .navbar-nav {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

nav .navbar-nav>li>a {
    font-size: 1.1em;
    letter-spacing: 0px;
    margin: 30px 0;
    padding: 0;
    color: #F0D8DA !important;
    opacity: .9;
    -webkit-transition: margin .5s ease-in-out;
    transition: margin .5s ease-in-out
}

nav.active {
    height: 60px;
    background-color: rgba(0, 0, 0, .95);
    box-shadow: 0 1px 1px #EDB2B8
}

nav.active .navbar-header .navbar-brand {
    height: 60px;
    padding: 20px 15px
}

nav.active .navbar-nav>li>a {
    margin: 20px 0
}

nav .navbar-nav>li>a.current,
nav .navbar-nav>li>a:focus,
nav .navbar-nav>li>a:hover {
    background-color: transparent !important;
    color: #EDB2B8 !important
}





h2 {
    position: relative;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.3em;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 25px
}

h2:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #EDB2B8;
    bottom: -8px;
    left: -2px
}

h3 {
    font-size: 1.7em;
    letter-spacing: 1px;
    margin-bottom: 12px
}

a,
a:focus,
a:hover {
    text-decoration: none !important;
    outline: 0 !important
}

.section_padding {
    padding: 140px 0
}

.line_height28 {
    line-height: 1.82em !important
}

.font_size16 {
    font-size: 1.1em !important
}

.mt_20 {
    margin-top: 20px !important
}

.span_color {
    color: #EDB2B8 !important
}

.back_color1 {
    background-color: #232323 !important
}

.back_color2 {
    background-color: #111 !important
}

.back_color3 {
    background-color: #F0D8DA !important
}

.color1 {
    color: #F0D8DA !important
}

.to_top {
    position: fixed;
    display: none;
    bottom: 10px;
    right: 15px;
    z-index: 999;
    font-size: 1.8em;
    padding: 4px 12px 1px 12px;
    text-align: center;
    background-color: #000;
    color: #F0D8DA;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: .5;
    border: 1px solid #333
}

.to_top.active {
    display: block
}

.to_top:hover {
    background-color: #000;
    color: #F0D8DA;
    opacity: 1;
    border-color: #EDB2B8
}
@keyframes load {
    0% {
        -webkit-transform: rotateZ(0) translate(25px, 0);
        transform: rotateZ(0) translate(25px, 0)
    }

    33% {
        -webkit-transform: rotateZ(120deg) translate(25px, 25px);
        transform: rotateZ(120deg) translate(25px, 25px)
    }

    67% {
        -webkit-transform: rotateZ(240deg) translate(0, 25px);
        transform: rotateZ(240deg) translate(0, 25px)
    }

    100% {
        -webkit-transform: rotateZ(360deg) translate(25px, 0);
        transform: rotateZ(360deg) translate(25px, 0)
    }
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotateZ(0) translate(25px, 0);
        transform: rotateZ(0) translate(25px, 0)
    }

    33% {
        -webkit-transform: rotateZ(120deg) translate(25px, 25px);
        transform: rotateZ(120deg) translate(25px, 25px)
    }

    67% {
        -webkit-transform: rotateZ(240deg) translate(0, 25px);
        transform: rotateZ(240deg) translate(0, 25px)
    }

    100% {
        -webkit-transform: rotateZ(360deg) translate(25px, 0);
        transform: rotateZ(360deg) translate(25px, 0)
    }
}

@keyframes load2 {
    0% {
        -webkit-transform: rotateZ(0) translate(25px, 25px);
        transform: rotateZ(0) translate(25px, 25px)
    }

    33% {
        -webkit-transform: rotateZ(120deg) translate(0, 25px);
        transform: rotateZ(120deg) translate(0, 25px)
    }

    67% {
        -webkit-transform: rotateZ(240deg) translate(25px, 0);
        transform: rotateZ(240deg) translate(25px, 0)
    }

    100% {
        -webkit-transform: rotateZ(360deg) translate(25px, 25px);
        transform: rotateZ(360deg) translate(25px, 25px)
    }
}

@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotateZ(0) translate(25px, 25px);
        transform: rotateZ(0) translate(25px, 25px)
    }

    33% {
        -webkit-transform: rotateZ(120deg) translate(0, 25px);
        transform: rotateZ(120deg) translate(0, 25px)
    }

    67% {
        -webkit-transform: rotateZ(240deg) translate(25px, 0);
        transform: rotateZ(240deg) translate(25px, 0)
    }

    100% {
        -webkit-transform: rotateZ(360deg) translate(25px, 25px);
        transform: rotateZ(360deg) translate(25px, 25px)
    }
}


header {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 750px;
    max-height: 1000px
}

header .background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

header .header_content {
    position: absolute;
    z-index: 3;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -20%);
    letter-spacing: 1px;
    padding: 10px;
    text-align: center
}

/*header .header_content>.myname {
    min-width: 700px;
    font-size: 6em;
    letter-spacing: 3px;
    color: #F0D8DA;
    font-weight: 900;
}
*/

    header .header_content>.myname {
        min-width: 700px;
        transform: translate(0,-50%);
        font-size : 6em;
        letter-spacing: 3px;
        font-weight: 900;
        color : #F0D8DA;
        text-shadow: 0 0 20px #eca4ab;
    }
    header .header_content>.myname .lastname{
        color : #fff;
    }

    header .header_content>.myname :after{
        content: attr(data-text);
        position:absolute;
        top:0;
        left:0;
        padding:0 20px;
        z-index: -1;
        color : #eca4ab;
        filter : blur(10px);
    }
    header .header_content>.myname :before{
        content: '';
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: #F0D8DA;
        z-index: -2;
        opacity : .3;
        filter: blur(30px);

    }
/**/header .header_content>p {
    color: #F0D8DA;
    font-size: 2em;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 0;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, .1), #000, rgba(0, 0, 0, .1));
    background: linear-gradient(to left, rgba(0, 0, 0, .1), #000, rgba(0, 0, 0, .1))
}

header .header_content>p i {
    text-shadow: 0 0 2px #EDB2B8
}

header .header_content>a {
    background-color: rgba(0, 0, 0, .6);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #F0D8DA;
    font-weight: 900;
    padding: 12px 25px;
    border-radius: 0;
    border: 1px solid rgba(255, 255, 255, .3)
}

header .header_content>a:focus,
header .header_content>a:hover {
    color: #F0D8DA;
    background-color: #000;
    border-color: #EDB2B8
}

header .to_down {
    position: absolute;
    bottom: 4px;
    left: 50%;
    z-index: 2;
   background-image: none;
  outline: 0;
  box-shadow: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: transparent;
    border-width: 0;
    -webkit-animation-name: scroll_button;
    animation-name: scroll_button;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse
}

header .to_down i {
    color: #F0D8DA;
    font-size: 2em;
    opacity: .5
}

header .to_down:hover i {
    opacity: 1;
}

@-webkit-keyframes scroll_button {
    0% {
        bottom: 25px
    }

    25% {
        bottom: 15px
    }

    50% {
        bottom: 25px
    }

    100% {
        bottom: 25px
    }
}

@keyframes scroll_button {
    0% {
        bottom: 25px
    }

    25% {
        bottom: 15px
    }

    50% {
        bottom: 25px
    }

    100% {
        bottom: 25px
    }
}

.skills .skill {
    text-align: center;
    color: #EDB2B8;
}

.skills .service_item {
    text-align: center;
    color : #F0D8DA;
    padding: 20px;
    letter-spacing: 1px;
    border: 1px solid rgba(255, 255, 255, .15);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.skills .service_item:hover {
    border-color: #EDB2B8;
}

.skills .service_item i {
    cursor: default;
    text-align: center;
    font-size: 5em;

    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}



.projects .projects_control {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.projects .projects_control button {
    margin-right: 10px;
    margin-left: 10px;
    background-color: transparent;
    opacity: .75;
    border: 1px solid rgba(255, 255, 255, .6);
    box-shadow: 0 0 2px #F0D8DA;
}




.projects .projects_control button.mixitup-control-active,
.projects .projects_control button:hover {
    border-color: #EDB2B8;
    box-shadow: 0 0 2px #EDB2B8;
    opacity: 1;
    outline: 0;
}

.projects .post {
    position: relative
}

.projects .post::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -3px;
    height: 3px;
    width: 0;
    background-color: #EDB2B8;
    -webkit-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out
}

.projects .post:hover:after {
    width: 100%
}

.projects .post .post_img {
    position: relative;
    overflow: hidden
}

.projects .post .post_img img {
    width: 100%
}

.projects .post .post_img .date {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transition: bottom .5s ease-in-out;
    transition: bottom .5s ease-in-out;
    padding: 10px;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, .7)
}

.projects .post:hover .post_img .date {
    bottom: 0
}

.projects .post h3 {
    padding-top: 7px;
    letter-spacing: 2px;
    text-shadow: 0 0 1px #EDB2B8;
    opacity: .9
}

.projects .post .post_title {
    font-weight: 700;
    font-size: .86em;
    opacity: .7;
    letter-spacing: 1px
}

.projects .post .post_img .date i,
.projects .post .post_title i {
    font-size: 1.15em;
    color: #EDB2B8;
    text-shadow: 1px 1px 3px #000;
    margin: 0 3px
}

.projects .post .post_details {
    padding-top: 10px;
    letter-spacing: 1px;
    opacity: .3
}

.projects .post:hover .post_details {
    opacity: .5
}

.projects .post .read_more {
    display: block;
    position: relative;
    text-align: left;
    letter-spacing: 1px;
    font-size: .86em;
    padding-top: 5px;
    font-weight: 900
}

.projects .post .read_more i {
    margin-left: 5px;
    font-size: 1.2em;
    vertical-align: middle;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.projects .post .read_more:hover i {
    margin-left: 12px
}

.projects .post .read_more:hover {
    color: #EDB2B8 !important
}

.projects .view_posts {
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, .05)
}

.projects .view_posts a {
    background-color: rgba(0, 0, 0, .4);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #F0D8DA;
    padding: 8px 45px;
    letter-spacing: 1px;
    border-radius: 0;
    border: 1px solid rgba(255, 255, 255, .3)
}

.careers ul {
    padding: 50px 0;
    margin-top: 55px
}

.careers ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: #393939
}

.careers ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: inherit
}

.careers ul li.in-view::after {
    background: #EDB2B8
}

.careers ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    box-shadow: 0 0 2px rgba(255, 255, 255, .8);
    border: 4px solid #232323;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .45s ease-in-out;
    transition: all .45s ease-in-out
}

.careers ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid
}

.careers ul li:nth-child(odd) div {
    left: 45px;
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0)
}

.careers ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #111 transparent transparent
}

.careers ul li:nth-child(even) div {
    left: -439px;
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0)
}

.careers ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #111
}

.careers ul li.in-view div {
    -webkit-transform: none !important;
    transform: none !important;
    visibility: visible;
    opacity: 1
}

.careers ul li div h3 {
    letter-spacing: 2px;
    margin-bottom: 12px;
    margin-top: 15px;
    text-shadow: 0 0 1px #EDB2B8;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.careers ul li div time {
    color: #EDB2B8;
    font-weight: 700
}

.careers ul li div p {
    color: rgba(255, 255, 255, .4);
    margin-top: 10px;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 24px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.careers ul li:hover div p {
    color: rgba(255, 255, 255, .6)
}

.careers ul li:hover::after {
    background-color: #F0D8DA
}

.careers ul li:hover div h3 {
    text-shadow: 0 0 3px #EDB2B8
}

.careers ul li:hover div {
    box-shadow: 0 0 5px #EDB2B8
}
/*Start Profile*/


.profile_us .profile_paragraph p {
    font-weight: 400;
    padding-right: 20%;
    letter-spacing: 1px;
    color: #a0a0a0
}

.profile_us .profile_paragraph a {
    background-color: rgba(0, 0, 0, .4);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #F0D8DA;
    font-weight: 900;
    padding: 12px 25px;
    border-radius: 0;
    border: 1px solid rgba(255, 255, 255, .3)
}

.profile_us .profile_paragraph a:focus,
.profile_us .profile_paragraph a:hover {
    color: #F0D8DA;
    background-color: #000;
    border-color: #EDB2B8
}

/*End Profile & Start Contact*/

.contact_me {
    position: relative;
    margin-top: 55px;
    padding: 30px;
    background-color: #151515
}

.contact_me address .contact {
    margin-bottom: 15px
}

.contact_me address .contact i {
    color: #EDB2B8;
    font-size: 2.1em;
    text-shadow: 0 0 25px #F0D8DA;
    display: block;
    margin: 35px 0;
    margin-bottom: 10px
}

.contact_me address .contact span {
    display: block;
    text-shadow: 1px 1px 1px #000;
    opacity: .8;
    line-height: 1.1;
    margin: 10px 0;
    font-weight: 500
}

.contact_me address .contact p {
    opacity: .4
}

.contact_me .contact_form {
    margin-top: 20px;
    padding: 20px
}

.contact_me .contact_form input,
.contact_me .contact_form textarea {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    border: 2px solid #EDB2B8;
    box-shadow: 0 0 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    color: #F0D8DA;
    background-color: #0f0f0f;
    letter-spacing: 1px;
    padding: 12px;
    opacity: .55
}

.contact_me .contact_form input::-webkit-input-placeholder,
.contact_me .contact_form textarea::-webkit-input-placeholder {
    color: #8b8989
}

.contact_me .contact_form input::-moz-placeholder,
.contact_me .contact_form textarea::-moz-placeholder {
    color: #8b8989
}

.contact_me .contact_form input:-ms-input-placeholder,
.contact_me .contact_form textarea:-ms-input-placeholder {
    color: #8b8989
}

.contact_me .contact_form input:focus,
.contact_me .contact_form textarea:focus {
    opacity: 1;
    box-shadow: -1px -3px 2px #070708
}

.contact_me .contact_form textarea {
    resize: none
}

.contact_me .contact_form button {
    display: block;
    float: left;
    width: 140px;
    height: 42px;
    border-radius: 0;
    border: 2px solid #EDB2B8;
    background-color: transparent;
    color: #EDB2B8;
    letter-spacing: 1px;
    line-height: 28px;
    opacity: .55;
}

.contact_me .contact_form button:hover {
    opacity: 1;
    background-color: #000;
}
.contact_me .contact_form button:active,
.contact_me .contact_form button:focus,
.contact_me .contact_form button:focus:active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}

/*End Contact*/

footer {
    background-color: #000
}

footer .links {
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center
}

footer .links a>i {
    font-size: 2.3em;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px
}

footer .links a>i:hover {
    color: #EDB2B8 !important
}


.canvas {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}
